<div class="header-nav header-nav-menu" id="header-nav-menu">
  <div class="container">
    <div class="header-nav-inner {% if request.endpoint == 'home' %}bg-primary mt-xl-2 px-3 py-1 rounded-5{% else %}py-3{% endif %}">
      <div class="row gx-xl-5 align-items-center justify-content-between">
        <div class="col-xl-2 col-md-3 col-6 order-1">
          <div class="header-logo {% if request.endpoint == 'home' %}ms-2{% endif %}">
            <a href="{{ url_for('home') }}">
              <img
                src="{{ url_for('static', filename='img/logo/logo.png') }}"
                alt="logo"
                class="rounded-3"
                style="max-width: 140px; width: 100%"
              />
            </a>
          </div>
        </div>
        <div class="col-xl-7 col-0 order-3 order-xl-2">
          <div class="header-nav">
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul
                class="navbar-nav flex-row align-items-center justify-content-center"
                id="responsive-menu"
                style="gap: 25px"
              >
                <li class="nav-item">
                  <a
                    class="nav-link text fw-medium text-uppercase {% if request.endpoint == 'home' %}active{% endif %}"
                    href="{{ url_for('home') }}"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text fw-medium text-uppercase {% if request.endpoint == 'services' %}active{% endif %}"
                    href="{{ url_for('services') }}"
                    >Services</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text fw-medium text-uppercase {% if request.endpoint and ('shop' in request.endpoint or 'product' in request.endpoint) %}active{% endif %}"
                    href="{{ url_for('shop') }}"
                    >Shop</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text fw-medium text-uppercase {% if request.endpoint == 'portfolio' %}active{% endif %}"
                    href="{{ url_for('portfolio') }}"
                    >Portfolio</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text fw-medium text-uppercase {% if request.endpoint == 'about' %}active{% endif %}"
                    href="{{ url_for('about') }}"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text fw-medium text-uppercase {% if request.endpoint == 'contact' %}active{% endif %}"
                    href="{{ url_for('contact') }}"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-0 order-2 order-xl-3">
          <div class="header-icons d-none d-xl-block text-end">
            <a
              href="https://wa.me/917351949490?text=Hello!%20I%20am%20interested%20in%20your%20services%20and%20would%20like%20to%20know%20more.%20Please%20share%20details."
              target="_blank"
              class="btn1 text-nowrap w-100 text-center"
              >WhatsApp Us<i
                class="fa fa-long-arrow-right d-none d-xxl-inline-block"
                aria-hidden="true"
              ></i
            ></a>
          </div>
        </div>
      </div>
      <div id="slicknav-mobile"></div>
    </div>
  </div>
</div>
